:host {
  text-align: center;
}

nz-footer {
  line-height: 1.5;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}
.white-bg {
  background-color: #fff;
  padding: 20px;
}
