<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input old password!">
      <nz-input-group nzPrefixIcon="key">
        <input
          type="password"
          nz-input
          formControlName="oldPassword"
          placeholder="Old Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input new password!">
      <nz-input-group nzPrefixIcon="key">
        <input
          type="password"
          nz-input
          formControlName="newPassword"
          placeholder="New Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input repeat password!">
      <nz-input-group nzPrefixIcon="key">
        <input
          type="password"
          nz-input
          formControlName="rePassword"
          placeholder="Repeat Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Change Password
  </button>
</form>
