@import url("../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import "./assets/scss/app.scss";

.box {
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 16px;
  border-radius: 6px;
}
.fixed {
  position: fixed;
}
.price {
  font-size: 18px;
  color: #d0021c;
}
.fix-image {
  width: 230px !important;
  height: 230px !important;
  object-fit: cover;
}
#shopping-cart svg {
  width: 24px;
  height: 24px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
